.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-size: 2rem;
    font-weight: 700;

    margin-right: auto;

    border-bottom: transparent 0.1rem solid;
  }

  &__links {
    list-style: none;

    display: flex;

    li {
      margin-right: 1rem;
    }
  }
}
